<section class="bg-contrast text-md-left well-before-md">

  <div class="row row-md-middle">
    <div class="container">

      <div class="about-container">
        <h2>О фестивале</h2>
        <p>
          Бам! Событие, которого все так долго ждали. Главное событие сезона 
          2018 – Первый Stance-фестиваль, который пройдет в одном из самых 
          удивительных мест России – на Байкале. Крутите винты, дамы и господа,
          полируйте диски, и собирайтесь с 20 по 22 июля 2018 года смотреть на 
          топовые проекты региона, выбирать лучших, становиться лучшими, 
          знакомиться с единомышленниками и феерически проводить время на 
          берегу красивейшего озера. Ждём Вас и Ваш топовый проект в гостинице 
          “Прибайкальская”, п.Листвянка. Хотели приключений? Сейчас самое время. 
          Подавайте заявку и начинайте собираться, времени осталось совсем немного. 
        </p>
      </div>

    </div>

  </div>

  <div class="about-image">    
    <div>
      <div class="about-description">
        <h3>Проживание</h3>
        <p class="mb-5rem">          
          Мы позаботились о том, чтобы Вам не пришлось никуда ехать после тяжелого дня. 
          Бронирование номеров в гостинице “Прибайкальская” будет происходить централизованно,
          по полной предоплате. Гостиница находится в живописном месте в пяти минутах езды от Байкала. 
          С площадки проведения открывается вид на озеро и горы, так что эстетическое удовлетворение 
          можно получить не только от идеального фитмента участников, но и от окружающей природы. 
        </p>
        <h3>Заявки на участие</h3>
        <p>
          Для участия в фестивале Вам необходимо отправить заявку в которой необходимо указать:
        </p>
        <ul>
          <li>Ваше ФИО</li>
          <li>Номер телефона, электронный адрес</li>
          <li>Марку и год автомобиля</li>
          <li>Тип подвески</li>
          <li>Количество гостей, которые приедут с Вами</li>
          <li>Фотографию Вашего автомобиля</li>
        </ul>
        <p>
          Особая просьба прикладывать КАЧЕСТВЕННЫЕ фотографии.
          Если автомобиль находится в стадии доработки, то 
          необходимо указать какие изменения произойдут на момент проведения фестиваля.
        </p>
      </div>
    </div>
  </div>

</section>
