<section class="bg-contrast text-md-left well-before-md">

  <div class="row row-md-middle">
    <div class="container">

      <div class="about-container">
        <h2>О фестивале</h2>
        <p>
          До нас никто такого не делал, мы супер крутые, сами всё придумали, ничего не спиздили и все права защищены.
          До нас никто такого не делал, мы супер крутые, сами всё придумали, ничего не спиздили и все права защищены.
          До нас никто такого не делал, мы супер крутые, сами всё придумали, ничего не спиздили и все права защищены.До нас никто такого не делал, мы супер крутые, сами всё придумали, ничего не спиздили и все права защищены
          До нас никто такого не делал, мы супер крутые, сами всё придумали, ничего не спиздили и все права защищены.
        </p>
      </div>

    </div>

  </div>

  <div class="about-image">    
    
  </div>

</section>
