<section class="bg-image set-relative" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/page-call2action-intro_img01.jpg); background-size: cover; background-position: center center;">
  <div class="container-fluid">
    <div class="row row-xs-middle well-cover well-md">
      <div class="col-xs-12 text-xs-center">
        <a href="/" class="brand text-xs-left"><img src="images/logo.svg" /></a>
      </div>
      <div class="col-xs-12">
        <h1>Первый stance фестиваль на Байкале</h1>
        <h2>Иркутск, 20-22 Июля</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-xs-center mb-3 head-icons">
        <div class="inline-list inline-list-xs hidden visible-xs-inline-block">
          <div><a href="https://vk.com/shishki17" class="icon icon-xs icon-default fa-vk" style="background-color: #45668e"></a></div>
          <div><a href="https://vk.com/shishki17" class="icon icon-xs icon-default fa-instagram buxta-instagram" style="background-color: #FFFFFF"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
