body {
  font-family: 'Roboto', sans-serif !important;
}

.head-headers {
  h1 {
    text-transform: uppercase;
    font-size: 42px !important;
    font-family: 'Open-Sans', sans-serif !important;

    @media (max-width: 576px) {
      font-size: 24px !important;
    }
  }

  h2 {
    @media (max-width: 576px) {
      font-size: 20px !important;
    }
  }
}

.about-container {
  max-width: 660px;
  text-align: justify;
  margin: 50px auto 100px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    text-align: center;
  }

  p {
    color: #2f2d3b;
  }
}

.about-description {
  color: #fff;
  max-width: 660px;
  text-align: justify;
  margin: 0 auto;
  padding: 100px 20px;

  h3 {
    color: #fff !important;
    margin: 1rem 0 2rem;
    text-align: center;
  }

  ul {
    margin: 1rem 2rem;


  }
}

.well-cover {
  min-height: calc(100vh - 120px) !important;
}

.about-image {
  background-color: #E8EFFB;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/about_2.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 600px;
}

.input-container--buxta {
  @media (min-width: 768px) {
    background-color: transparent !important;
    border-width: 0 !important;
    margin-right: 2rem;
    width: 90%;
  }

  > div + div {
    margin-top: 2rem;
  }
}

.form-container {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  input, textarea {
    border-radius: 4px !important;
    background-color: $input-bg !important;
  }
}

.form-about {
  @media (min-width: 768px) {
    margin-top: 0 !important;
  }

  textarea {
    height: 263px !important;
  }
}

.form-buttons {
  display: flex;
  flex-direction: column;

  @media(min-width: 992px) {
    margin-left: 42px;
    flex-direction: row;

    .btn:first-child {
      margin-right: 30px;
    }
  }

  @media(min-width: 1200px) {
    margin-left: 150px;
  }

}

.head-icons {
  .icon {
    font-size: 30px;
    border-width: 0;
  }
}

.buxta-instagram {
  color: #45668e !important;
  border-color: #45668e !important;
}

.btn {
  border-radius: 4px !important;
}

.mb-3 {
  margin-bottom: 2.5rem;
  @media (max-width: 576px) {
    padding-bottom: 2rem;
  }
}

.brand {

  img {
    margin-bottom: 0px;
    max-width: 300px;

    @media (max-width: 576px) {
      max-width: 150px;
      margin-bottom: 50px;
    }
  }
}

.mb-5rem {
  margin-bottom: 5rem;
}

.upload-photos .error {
  color: red;
}
